label{
  margin-left: 90px;
  width: 20px; ;
}
.name{
  margin-left: 120px;
  width: 200px;
}
.email{
  margin-left: 94px;
  width: 200px;
}
.phnno{
  margin-left: 97px;
  width: 200px;
}
.add{
  margin-left: 152px;
  width: 200px;
}.em{
  margin-left: 152px;
  width: 200px;
}.fe{
  margin-left: 142px;
  width: 50px;
}
.ma{
  margin-left: 0px;
  width: 50px;
}.qu{
  margin-left: 120px;
  width: 200px;
}
textarea
{
  margin-left: 150px;
}
.submit{
  margin-top: 100px;
  margin-left: 300px;
  width: 75px;

}
.reset{
  margin-top: 100px;
  margin-left: 50px;
  width: 75px;

}
i{
  cursor: pointer;
  margin-left: 10PX;
}